@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-backgound: #14181f;
  --color-primary: #ffc800;
  --color-background-weaker: #1b1f28;
  --color-accent: #ffc800;
  --color-secondary: #212631;
  --color-font-white: #f8fafc;
}
